*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body { 
  background-color: #4446ce;
  color: #eaeaff;
  font-family: monospace;
  font-size: x-large;
}

main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grupoComandos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cartaoComando {
  border: 3px solid #0000ff;
  border-radius: 20px;
  width: 85vw;
  height: 20vh;
  padding: 10px 15px;
}

/* Tablet */
@media screen and (min-width: 768px) {
     .cartaoComando {
      border: 3px solid black;
    }
}

    /* computador */
@media screen and (min-width: 1025px) {
    .grupoComandos {
     flex-direction: row;
     flex-wrap: wrap;
   }

    .cartaoComando {
      border: 3px solid #ff6600;
      border-radius: 20px;
      width: 21vw;
      height: 250px;
      flex-direction: column;
      transition: 200ms;
    }

    .cartaoComando:hover {
      border: 5px solid #ffffff;
      scale: 105%; 
      
    }
}